<div class="container pt-2">
<div class="d-flex justify-content-center flex-column">
    <div class="p-2 align-self-center">
        No entries today.
    </div>
    <div class="p-2 align-self-center">
        <a href="/bp/add" class="ms-2 p-2 btn btn-primary" role="button"><i class="fas fa-plus-circle"></i>Add Entry</a>
    </div>
    
</div>

</div>