<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="/bp">Overview</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/bp/list">List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/bp/add">Add Entry</a>
                </li>
            </ul>
        </div>
        <div class="login"> <!--Login/Display User/Logout-->
            <ul class="navbar-nav">
                <% if(typeof displayName=='string' && displayName) { %>
                    <li class="navbar-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                            <i class="fas fa-lg fa-user"></i>
                            <%= displayName %>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/logout"><i class="fa-solid fa-sign-out-alt"></i>
                                    Logout</a></li>
                        </ul>
                    </li>
                    <% } else { %>
                        <li class="nav-item">
                            <a href="/login" class="nav-link">
                                <i class="fa-solid fa-sign-in-alt"></i> Login</a>
                        </li>
                        <li class="nav-item"></li>
                        <% } %>
            </ul>
        </div>
    </div>

</nav>